body{
    background-color: black;
    color: aqua;
}

input{
border-radius: 10px;
}

.display{
    margin: 25px;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: fit-content;
}